<table class='wsite-multicol-table'>
  <tbody class='wsite-multicol-tbody'>
    <tr class='wsite-multicol-tr'>
      <td class='wsite-multicol-col' style='width:100%;padding:0 15px'>
        <div class="form">
          <%= form_for(@contact) do |f| %>
          <% if @contact.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@contact.errors.count, "error") %> prohibited this category from being saved:</h2>

            <ul>
              <% @contact.errors.full_messages.each do |message| %>
              <li><%= message %></li>
              <% end %>
            </ul>
          </div>
          <% end %>

          <div class="form-group">
            <%= f.label :name %><br>
            <%= f.text_field :name, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :email %><br>
            <%= f.email_field :email, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :message %><br>
            <%= f.text_area :message, class: 'form-control' %>
          </div>
          <div class="hidden">
            <%= f.label :nickname %><br>
            <%= f.text_field :nickname %>
          </div>
          <div class="actions">
            <%= f.submit "Send Message", :class => "btn btn-default", 'data-disable-with' => "Please wait.." %>
          </div>
          <% end %>
        </div>
      </td>

      <td class='wsite-multicol-col' style='width:50%;padding:0 15px'>
        <h2 style="text-align:center;">Cameo Chemicals LLC<br />
          <span></span>25 Horton Ave.<br /><span></span>Valley Stream NY, 11581<br /><br />
          <span></span>Mark Werner<br /><span></span>President<br />
          <span></span>MWerner@Cameochem.com<br />
          <span></span>Cell: 516-582-7927<br /><span></span><br /><span></span></h2>
        </td>
      </tr>
    </tbody>
  </table>
